* {
	box-sizing: border-box;
	font-family: "arial", sans-serif;
}

:root{
	--container-width: 50%;
}

@media only screen and (max-width: 600px) {
	.container {
		--container-width: 100%;
	}
}

body{
	background-color: #faf8ef;
	padding: 0;
	margin: 0;
	color: #776e65;
}

.container{
	width: var(--container-width);
	margin: auto;
	padding-top: 60px;
}

.container .title, .grid_2048 {
	min-width: 400px;
	max-width: 500px;
}

.container .title {
	display: block;
	margin: auto;
	margin-bottom: 16px;
}

.container .title h1{
	font-size: 4rem;
	margin-bottom: 0;
}

.container .title p{
	margin-top: 4px;
	font-size: 2rem;
}

.grid_2048 {
	margin: auto;
	min-height: 400px;
	border-radius: 8px;
	padding-left: 1rem;
	padding-bottom: 1rem;

	/*grid*/
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;

	background-color: #bbada0;
}

.grid_2048 div {
	/*box*/
	border-radius: 8px;
	margin: 1rem 1rem 0 0;


	/*style font*/
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 4rem;
}

.grid {
	background-color: rgba(238, 228, 218, 0.35);;
}

.grid_2 {
	background-color: #dccab6;
}

.grid, .grid_2, .grid_4 {
	color: #776e65;
}

.grid_4 {
	background-color: #ddc9a5;
}

.grid_8 {
	background-color: #e4a062;
}

.grid_16 {
	background-color: #e58450;
}

.grid_32 {
	background-color: #e36b4b;
}

.grid_8, .grid_16, .grid_32, .grid_64, .grid_128 {
	color: white;
}