* {
	box-sizing: border-box;
	font-family: "arial", sans-serif;
}

:root{
	--container-width: 50%;
	--grid-gap: 12px;
}

@media only screen and (max-width: 600px) {
	.container {
		--container-width: 100%;
	}
}

body{
	background-color: #faf8ef;
	padding: 0;
	margin: 0;
	color: #776e65;
}

.container{
	width: var(--container-width);
	margin: auto;
	padding-top: 60px;
}

.container .title, .grid_2048 {
	min-width: 400px;
	max-width: 500px;
}

.container .title {
	display: block;
	margin: auto;
	margin-bottom: 16px;
}

.container .title h1{
	font-size: 4rem;
	margin-bottom: 0;
}

.container .title p{
	margin-top: 4px;
	font-size: 2rem;
}

.grid_2048 {
	margin: auto;
	height: 500px;
	width: 500px;
	padding-left: var(--grid-gap);
	padding-bottom: var(--grid-gap);

	/*grid*/
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;

	/*style*/
	background-color: #bbada0;
	border-radius: 8px;

	/*position ref*/
	position: relative;
}

.grid_2048 > div {
	/*box*/

	/*margin: var(--grid-gap) var(--grid-gap) 0 0;*/
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
}

.grid {

	margin: var(--grid-gap) var(--grid-gap) 0 0;

	font-size: 3rem;
	font-weight: bold;

	background-color: rgba(238, 228, 218, 0.35);

	height: 110px;
	width: 110px;

	/*style*/
	border-radius: 8px;
}

.grid > div {
	border-radius: 8px;
}

.appear {
	animation-duration: 2s;
	animation-delay: 100ms;
	animation-name: appear;
	animation-timing-function: ease;
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.grid_item.merged {
	z-index: 10;
}

.grid_item {
	
	/*table to vertical align the text*/
	display: table;
	vertical-align: middle;	

	/*for positioning*/
	position: absolute;

	width: 110px;
	height: 110px;

	/*stle*/
	border-radius: 8px;


}

.grid_item.animation {
	transition-duration: 2s;
	transition-timing-function: ease-out;
	transition-property: top left;	
}

.grid_item > div {

	display: table-cell;
	vertical-align: middle;
}

.grid_item.appear{
	/*if not set, the appear item will appear first, then play the animation.*/
	opacity: 0;
}

/*css the position of the items */
.grid_item.grid_item_0_0 {
	top: var(--grid-gap);
	left: var(--grid-gap);
}

.grid_item.grid_item_0_1 {
	top: var(--grid-gap);
	left: calc(2*var(--grid-gap) + 110px);
}

.grid_item.grid_item_0_2 {
	top: var(--grid-gap);
	left: calc(3*var(--grid-gap) + 220px);
}

.grid_item.grid_item_0_3 {
	top: var(--grid-gap);
	left: calc(4*var(--grid-gap) + 330px);
}

.grid_item.grid_item_1_0 {
	top: calc(2*var(--grid-gap) + 110px);
	left: var(--grid-gap);
}

.grid_item.grid_item_1_1 {
	top: calc(2*var(--grid-gap) + 110px);
	left: calc(2*var(--grid-gap) + 110px);
}

.grid_item.grid_item_1_2 {
	top: calc(2*var(--grid-gap) + 110px);
	left: calc(3*var(--grid-gap) + 220px);
}

.grid_item.grid_item_1_3 {
	top: calc(2*var(--grid-gap) + 110px);
	left: calc(4*var(--grid-gap) + 330px);
}

.grid_item.grid_item_2_0 {
	top: calc(3*var(--grid-gap) + 220px);
	left: var(--grid-gap);
}

.grid_item.grid_item_2_1 {
	top: calc(3*var(--grid-gap) + 220px);
	left: calc(2*var(--grid-gap) + 110px);
}

.grid_item.grid_item_2_2 {
	top: calc(3*var(--grid-gap) + 220px);
	left: calc(3*var(--grid-gap) + 220px);
}

.grid_item.grid_item_2_3 {
	top: calc(3*var(--grid-gap) + 220px);
	left: calc(4*var(--grid-gap) + 330px);
}

.grid_item.grid_item_3_0 {
	top: calc(4*var(--grid-gap) + 330px);
	left: var(--grid-gap);
}

.grid_item.grid_item_3_1 {
	top: calc(4*var(--grid-gap) + 330px);
	left: calc(2*var(--grid-gap) + 110px);
}

.grid_item.grid_item_3_2 {

	top: calc(4*var(--grid-gap) + 330px);
	left: calc(3*var(--grid-gap) + 220px);
}

.grid_item.grid_item_3_3 {
	top: calc(4*var(--grid-gap) + 330px);
	left: calc(4*var(--grid-gap) + 330px);
}


/*stlyes for different font-variant-ligatures: */
.grid_2 {
	background-color: #dccab6;
}

.grid, .grid_2, .grid_4 {
	color: #776e65;
}

.grid_4 {
	background-color: #ddc9a5;
}

.grid_8 {
	background-color: #e4a062;
}

.grid_16 {
	background-color: #e58450;
}

.grid_32 {
	background-color: #e36b4b;
}

.grid_8, .grid_16, .grid_32, .grid_64, .grid_128 {
	color: white;
}